* {
    margin: 0;
    padding: 0;

}

/* Header */

.header_left img {
    height: 80px;
    margin-left: 5px;
    object-fit: contain;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}

.header_left {
    display: flex;
    align-items: center;
}

.header_left span {
    padding: 10px;
    cursor: pointer;
}

.header_middle {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    padding: 0 4px;
    border-radius: 30px;
    justify-content: space-between;
    border-radius: 30px;
    width: 700px;
    height: 50px;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.middle-icons {
    color: gray;
}

.header_middle input {
    
    width: 100;
    padding: 10px;
    outline: none;
    font-size: medium;
    background-color: transparent;
    display: flex;
    flex-grow: 1;
    padding: 10px;
    border: none;
    font-size: 17px
}

.header_right {
    display: flex;
    padding-top: 4px;
    gap: 15px;
    align-items: center;
    justify-content: space-between;

}

.header_right span {
    padding: 10px;
    cursor: pointer;

}
.header_right{

    i:hover,span:hover{
        box-shadow: 2px 2px 1px silver;
        border: 0.7px solid silver;
    }
}


/* sidebar */
.sidebar {
    display:flex
    flex-direction;: column;
    height: 100vh;
    width: fit-content;

    max-width: 300px;
    padding-right: 20px;
}

.sidebar_compose {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
    text-transform: capitalize;
    border-radius: 15px;
    padding: 15px;
    color: gray;
    background-color: white;
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;
    border: none;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
    background: #C2E7FF;
}

.sidebar_compose span {
    margin-right: 5px;
}

.sidebar_compose:hover{
    box-shadow: 2px 2px 2px 4px solid silver;
    border: 0.7px solid silver;

}

.sidebaroption {
    display: flex;
    align-items: center;
    hEight: 40px;
    padding: 0 10px;
    border-top-right-radius: 20px;
    cursor: pointer;
    color: #818181;

    
        box-shadow: 2px 2px 2px 2px solid silver;
        border: 0.7px soloid silver;
    
}

.sidebaroption .maertial-icons {
    padding: 10px;
}

.sidebaroption {
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 300;
}

/* .sidebaroption:hover,
.sidebaroption:hover h3,
 .sidebaroption:hover .maertial-icons,
.sidebaroption_active,
.sidebaroption_active h3,
.sidebaroption_active  h3,
.sidebaroption_active .material-icons {
    background-color: #fcecec;
    color:#c04b37;
    font-weight: 800;
} */
/* .sidebaroption .hover:hover {
    background-color: #fcecec;
    color:#c04b37;
    font-weight: 800;
} */
.hover:hover {
    background-color: lightgray;
    border-radius: 5px 30px 30px 5px;
   
}

.sidebar__footer {
    display: flex;
    justify-content: center;
}

.sidebar__footericons .material-icons {
    margin: 7px;
}

.hover {
    padding-bottom: 6px;
    padding-top: 6px;
    margin-right: 30px;
    cursor: pointer;
}

.hover i {
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.hover {
    margin-right: 20px;
}

/* main body  */

body {
    height: 100vh;
    overflow: hidden;
}

/* email list */
/* .emaillist{
    flex: 1;
    overflow: scroll;
}
.emaillist_settings{
    position:sticky;
    top: 0;
    background-color: white;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    border-bottom: 1px solid whitesmoke;
} */
.labels i {
    margin-left: 90px;
    cursor: pointer;
    font-weight: lighter;

}

.center {
    background-color: #fcecec;
    width: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-left: 20px;

}
*{
    font-family: 'noto Sans';
    font-size: 15px;
    font-weight: 300;
}

.main {

    height: 924px;
    position: absolute;
    top: 80px;
    left: 18%;
    height: 83%;
      
    width: 78VW;
    margin-right: 400px;

    align-items: flex-start ;
    /* justify-content: space-between; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    z-index: 999;
    /* border-bottom: 1px solid; */
    border-bottom: 0.5px solid silver;
    border-top: 0.5px solid silver;
    min-width: 200px;
    overflow-y: scroll;
    border-radius: 10px;
    display: flex;    
    justify-content: space-between;

    .icons{
        
        
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-right: 10px;
        display: none;
    }
    .mainrow:hover{
        box-shadow: 2px 2px 2px 2px;
        border: 0.5px solid silver;
    }
    
}
.mainrow:hover{
    #time{
        display: none;
    }
    .icons{
        display: flex;
    }
}

.row1{
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding:0 20px;
    align-items: center;
    div{
        display: flex;
       gap :10px;
        align-items: center;
    }

}

.boxx{
    display: flex;
    border-bottom: 3px solid blue;
    width: 200px;
    margin-left: 1px ;
    margin-bottom: 12px;
}

.emailRow__options {
    display: flex;
    align-items: center;
}

.emailRow__options {
    display: flex;
    align-items: center;
}

    .emailRow__options .material-icons {
        margin-right: 5px;
    }

/* .emailRow {
    display: flex;
    align-items: center;
    height: 50;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
    z-index: 999; */
}

.emailRow:hover {
    
}

.row_top{
    display: flex;
    
    align-items: center;
    padding: 10px 20px;
    width: 96%;
    justify-content: space-between;
}
.row_top input{
    margin-right: 10px;
}
.row_top i{
    margin-right: 10px;
    background-color: #FFFFFF;
}
.top-right span{
padding-right: 30px;
font-weight: 100;
}

.mainrow {

    display: flex;
    background-color: snow;
    justify-content: space-between;
    background-color: #F2F6FC;
    box-shadow: 2p;
    padding: 10px;
    border-top: 0.5px solid  silver;
    border-bottom: 0.5px soloid silver;


    .left{
        display: flex;
        gap:10px;
        padding-right: 40px;
    }
}
.box{
    display: flex;
    align-items: center;
    gap:10px;
}
.det {
    width: 100%;
    padding: 0 0 0 10px;
    background-color:#F2F6FC;
}
.right{
   
    width: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: column;
}

.right img{
    /* position: absolute;
    top:left ; */
    width: 20px;
    height: 20px;
    margin-left: 10px;
    padding-top:20px;
}

.right-most{
    position: absolute;
    z-index: 1000;
    top: 15%;
    right: 0;
    display: flex;
    flex-direction: column;
    img{
        width: 25px;
    }
    gap: 30px;
    
    padding-right: 20px;}
    hr{
        width: 17px;
        margin-top: 25px;
    }
    @media(max-width:768px){
        .right-most{
            display: none !important;
            position: relative;
            background-color: red;
            width: 0px !important;
        }
        .sidebar{
            display: none !important;
        }
        .main {
            width:  100vw;
            overflow-x: hidden;
            flex-direction: column !important;
            margin: 0 !important;
            position: absolute;
            right:0!important;
            left:  0!important;
            
        }
        
        .header_right{
            display: none !important;
        }
        /* body{
            padding: 0;
            margin: 0;
        } */

    }

    @media  (max-width:460px){
        body{
            padding: 10px 10p;
        }

        .header_left{
            display: none !important;
        }
        
    }